NODE_ENV=development
DATABASE_URL=postgresql://wavepoll:wavepoll@localhost:15432/wavepoll
APP_BASE_URL=http://localhost:3000
COOKIE_SECRET=NGwejGovHRTvYwkzuKXRfOkdmoZvfWEe
UPSTASH_REDIS_REST_URL=http://localhost:8079
UPSTASH_REDIS_REST_TOKEN=wavepoll
S3_BUCKET=wavepoll
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=wavepoll
S3_SECRET_ACCESS_KEY=wavepoll
NEXT_PUBLIC_S3_URL=http://localhost:9000/wavepoll